{% extends "layout.html" %}

{% block title %}
    Numbers Game
{% endblock %}

{% block main %}
    <h1>Countdown Numbers Game</h1>

    <canvas id="clock-canvas" width="200" height="200"></canvas>
    <audio id="audio">
        <source src="{{ url_for('static', filename='music.ogg') }}" type="audio/ogg">
        <source src="{{ url_for('static', filename='music.mp3') }}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <div class="tiles">
        {% for n in range(6) %}
            <div class="tile">&nbsp;</div>
        {% endfor %}
    </div>
    
    <div id="buttons">
        <button class="btn btn-primary" id="choose-small-number">Choose Small Number</button>
        <button class="btn btn-primary" id="choose-large-number">Choose Large Number</button>
    </div>

    <div id="target" class="tiles">
        <p>Your target is:</p>
        <div class="tile">&nbsp;</div>
    </div>

    <div id="solution"></div>

    <div id="play-again">
        <a href="/" class="btn btn-default">Play again</a>
    </div>
{% endblock %}
